<h1>Welcome to Article</h1>

<p>by Mawel Mirabal</p>

<%= @articles.inspect %>



<% @articles.each do |article| %>
	<h1><%= article.title %></h1>
		<div class="">
			<%= article.body %> - <%= link_to "Delete", article, method: :delete %>
		</div>
<%end%>
