<h1><%= @article.title %></h1>
  <% unless @article.user.nil? %>
    <p>
      Written by: <%= @article.user.email %>
    </p>
  <%end%>

  <div>
    <%= @article.body %>
  </div>

<div class="">
  <%= link_to "Edit", edit_article_path(@article) %>
</div>
