html, body{
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	color: rgb(200, 50, 50);
}
a,a:visited{
	color: inherit;
	text-decoration: none;
}
.logo{
	font-size: 1.2em;
}

.no_margin{
	margin: 0px;
}

.be_red{
	background-color: rgb(255, 90, 67);
}

.white{
	color: rgb(255, 255, 255);
}

.large_padding{
	padding: 15px 10px;
}

.li_a{
    text-decoration: none;
    color: #f5f7f8;
    padding: 0 0 .2rem;
    /* font-weight: 700; */
}

.form_container{
  width: 80%;
  margin: 0 auto;
}

.field{
  marging-top :1cm;
}

.form_controls{
  border: none;
  border-bottom: 1px solid;
  outline: none;
  width: 100%;
  display: block;
  padding: 10px 0px;
  font-size: 1.2em;
}
.text_area_form_controls{
  height: 250px;
}
.buttom_submit_form_controls{
  color: rgb(255, 255, 255);
  background-color: rgb(255, 90, 67);
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px 12px;
}
.btn{
  color: rgb(255, 255, 255);
  background-color: rgb(255, 90, 67);
}

.top_space{
  margin-top: 1em;
}
.red_Delete{
  color: rgb(255, 255, 255);
  background-color: rgb(255, 90, 67);
}
